# requirements.txt

# Core Server
fastapi
uvicorn[standard]

# Vector DB
chromadb

# Relational DB (MySQL)
SQLAlchemy
pymysql

# Utilities
pydantic
pydantic[email]
python-dotenv

# Authentication
passlib[bcrypt]
python-jose[cryptography]
python-multipart